@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

$bodyFont: Montserrat, sans-serif;

$heavyWeight: 700;

$bodySize: 1.5rem;

$veryLightGreyBlue: hsl(240, 78%, 98%);
$lightGreyBlue: hsl(234, 14%, 74%);
$greyBlue: hsl(233, 13%, 49%);
$darkGreyBlue: hsl(232, 13%, 33%);

$gradient: linear-gradient(
  110deg,
  rgba(163, 168, 240, 1) 0%,
  rgba(105, 111, 221, 1) 100%
);

$boxShadow: 0px 7px 29px 3px rgba(0, 0, 0, 0.137);
